openapi: 3.1.0
info:
  title: HumanChat API
  version: 0.1.0
  description: REST + WebSocket surface for the HumanChat platform.
servers:
  - url: https://api.humanchat.com
    description: Production
  - url: http://localhost:4000
    description: Local development
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
        conversation_type:
          type: string
          enum: [free, paid, charity]
        instant_rate_per_minute:
          type: number
        scheduled_rates:
          type: object
          additionalProperties:
            type: number
        is_online:
          type: boolean
        has_active_session:
          type: boolean
        managed:
          type: boolean
        manager_id:
          type: string
          nullable: true
        confidential_rate:
          type: boolean
        display_mode:
          type: string
          enum: [normal, by_request, confidential]
          nullable: true
        manager_display_name:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Session:
      type: object
      properties:
        id:
          type: string
        host_user_id:
          type: string
        guest_user_id:
          type: string
        conversation_id:
          type: string
        type:
          type: string
          enum: [instant, scheduled]
        status:
          type: string
          enum: [pending, in_progress, complete]
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
          nullable: true
        duration_minutes:
          type: number
        agreed_price:
          type: number
        payment_mode:
          type: string
          enum: [free, paid, charity]
        confidential_rate:
          type: boolean
        representative_name:
          type: string
          nullable: true
        display_mode:
          type: string
          enum: [normal, by_request, confidential]
          nullable: true
    Conversation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [sam, human]
        participants:
          type: array
          items:
            type: string
            format: uuid
        participant_display_map:
          type: object
          additionalProperties:
            type: string
          nullable: true
        linked_session_id:
          type: string
          format: uuid
          nullable: true
        last_activity:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
    RequestedPerson:
      type: object
      properties:
        name:
          type: string
        normalized_name:
          type: string
        request_count:
          type: integer
        status:
          type: string
          enum: [pending, contacted, declined, onboarded]
        last_requested_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
    RequestLog:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
        requested_name:
          type: string
        search_query:
          type: string
        created_at:
          type: string
          format: date-time
    Request:
      type: object
      properties:
        id:
          type: string
        requester_user_id:
          type: string
        target_user_id:
          type: string
        manager_user_id:
          type: string
          nullable: true
        representative_name:
          type: string
          nullable: true
        message:
          type: string
        preferred_time:
          type: string
          nullable: true
        budget_range:
          type: string
          nullable: true
        status:
          type: string
          enum: [pending, approved, declined]
        created_at:
          type: string
          format: date-time
paths:
  /api/auth/register:
    post:
      summary: Register new user
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password]
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
      responses:
        '201':
          description: Created
  /api/auth/login:
    post:
      summary: Login and receive JWT
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Auth token
  /api/auth/logout:
    post:
      security: [{ bearerAuth: [] }]
      tags: [Auth]
      responses:
        '200':
          description: Logged out
  /api/auth/me:
    get:
      security: [{ bearerAuth: [] }]
      tags: [Auth]
      responses:
        '200':
          description: Current user
  /api/users/{id}:
    get:
      security: [{ bearerAuth: [] }]
      tags: [Users]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User data
    patch:
      security: [{ bearerAuth: [] }]
      tags: [Users]
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Updated user
  /api/users/search:
    get:
      security: [{ bearerAuth: [] }]
      tags: [Users]
      parameters:
        - in: query
          name: q
          schema:
            type: string
        - in: query
          name: online
          schema:
            type: boolean
      responses:
        '200':
          description: List of users
  /api/users/{id}/availability:
    get:
      security: [{ bearerAuth: [] }]
      tags: [Users]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Slots
  /api/users/{id}/status:
    get:
      security: [{ bearerAuth: [] }]
      tags: [Users]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Status
  /api/sessions:
    post:
      security: [{ bearerAuth: [] }]
      tags: [Sessions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Session'
      responses:
        '201':
          description: Session created
  /api/sessions/{id}:
    get:
      security: [{ bearerAuth: [] }]
      tags: [Sessions]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Session detail
  /api/conversations:
    get:
      security: [{ bearerAuth: [] }]
      tags: [Conversations]
      responses:
        '200':
          description: Conversation list
  /api/conversations/{id}/messages:
    get:
      security: [{ bearerAuth: [] }]
      tags: [Conversations]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Messages
    post:
      security: [{ bearerAuth: [] }]
      tags: [Conversations]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [senderId, content, type]
              properties:
                senderId:
                  type: string
                content:
                  type: string
                type:
                  type: string
      responses:
        '201':
          description: Message created
  /api/calendar/connect:
    post:
      security: [{ bearerAuth: [] }]
      tags: [Calendar]
      responses:
        '201':
          description: Connected
  /api/calendar/availability:
    get:
      security: [{ bearerAuth: [] }]
      tags: [Calendar]
      responses:
        '200':
          description: Slots
  /api/calendar/sync:
    post:
      security: [{ bearerAuth: [] }]
      tags: [Calendar]
      responses:
        '200':
          description: Triggered
  /api/payments/intent:
    post:
      security: [{ bearerAuth: [] }]
      tags: [Payments]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  minimum: 1
                currency:
                  type: string
                  example: usd
                sessionId:
                  type: string
                  format: uuid
                captureMethod:
                  type: string
                  enum: [automatic, manual]
                mode:
                  type: string
                  enum: [instant, scheduled, charity, donation]
                metadata:
                  type: object
                  additionalProperties:
                    type: string
                charityAccountId:
                  type: string
                waivePlatformFee:
                  type: boolean
      responses:
        '201':
          description: PaymentIntent created
  /api/payments/capture:
    post:
      security: [{ bearerAuth: [] }]
      tags: [Payments]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [paymentIntentId]
              properties:
                paymentIntentId:
                  type: string
                finalAmount:
                  type: integer
      responses:
        '200':
          description: Captured
  /api/payments/refund:
    post:
      security: [{ bearerAuth: [] }]
      tags: [Payments]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [paymentIntentId]
              properties:
                paymentIntentId:
                  type: string
                amount:
                  type: integer
      responses:
        '200':
          description: Refunded
  /api/payments/transfer:
    post:
      security: [{ bearerAuth: [] }]
      tags: [Payments]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [sessionId]
              properties:
                sessionId:
                  type: string
                  format: uuid
                amount:
                  type: integer
      responses:
        '200':
          description: Transfer initiated
  /api/payments/donation:
    post:
      security: [{ bearerAuth: [] }]
      tags: [Payments]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [sessionId, amount]
              properties:
                sessionId:
                  type: string
                  format: uuid
                amount:
                  type: integer
                currency:
                  type: string
      responses:
        '200':
          description: Donation checkout created
  /api/payments/connect-link:
    post:
      security: [{ bearerAuth: [] }]
      tags: [Payments]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                returnPath:
                  type: string
      responses:
        '200':
          description: Stripe Connect onboarding link
  /api/payments/session/{sessionId}/receipt:
    get:
      security: [{ bearerAuth: [] }]
      tags: [Payments]
      parameters:
        - in: path
          name: sessionId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Session receipt payload
  /api/requests:
    post:
      security: [{ bearerAuth: [] }]
      tags: [Requests]
      summary: Create a chat request targeting another online user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target_user_id, message]
              properties:
                target_user_id:
                  type: string
                  format: uuid
                message:
                  type: string
                preferred_time:
                  type: string
                  nullable: true
                budget_range:
                  type: string
                  nullable: true
      responses:
        '201':
          description: Request created and queued for the target user's inbox.
          content:
            application/json:
              schema:
                type: object
                properties:
                  request:
                    $ref: '#/components/schemas/Request'
    get:
      security: [{ bearerAuth: [] }]
      tags: [Requests]
      summary: List chat requests targeting the authenticated user.
      responses:
        '200':
          description: Pending and recently handled requests for this user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      $ref: '#/components/schemas/Request'
  /api/requests/{id}/status:
    patch:
      security: [{ bearerAuth: [] }]
      tags: [Requests]
      summary: Update a request's status. Approvals provision a conversation immediately.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [pending, approved, declined]
      responses:
        '200':
          description: Updated request (conversations are included on approvals).
          content:
            application/json:
              schema:
                type: object
                properties:
                  request:
                    $ref: '#/components/schemas/Request'
                  conversation:
                    $ref: '#/components/schemas/Conversation'
                    nullable: true
                    description: Present only when an approval returns a conversation to open immediately.
  /api/requested-people:
    get:
      security: [{ bearerAuth: [] }]
      tags: [RequestedPeople]
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [pending, contacted, declined, onboarded]
      responses:
        '200':
          description: Requested people list
          content:
            application/json:
              schema:
                type: object
                properties:
                  people:
                    type: array
                    items:
                      $ref: '#/components/schemas/RequestedPerson'
  /api/requested-people/log:
    post:
      security: [{ bearerAuth: [] }]
      tags: [RequestedPeople]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [requestedName, searchQuery]
              properties:
                requestedName:
                  type: string
                searchQuery:
                  type: string
      responses:
        '201':
          description: Logged
          content:
              application/json:
                schema:
                  type: object
                  properties:
                    person:
                      $ref: '#/components/schemas/RequestedPerson'
    /api/requested-people/{normalizedName}/status:
      patch:
        security: [{ bearerAuth: [] }]
        tags: [RequestedPeople]
        parameters:
          - in: path
            name: normalizedName
            required: true
            schema:
              type: string
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    enum: [pending, contacted, declined, onboarded]
        responses:
          '200':
            description: Updated requested person
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    person:
                      $ref: '#/components/schemas/RequestedPerson'
  /api/sam/chat:
    post:
      security: [{ bearerAuth: [] }]
      tags: [Sam]
      responses:
        '200':
          description: AI response
  /api/calls/start:
    post:
      security: [{ bearerAuth: [] }]
      tags: [Calls]
      summary: Start a new video or audio call
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [conversationId, callType]
              properties:
                conversationId:
                  type: string
                  format: uuid
                callType:
                  type: string
                  enum: [video, audio]
                idempotencyKey:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Call initiated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  callId:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [initiated, accepted, connected, ended, declined, missed]
                  liveKitToken:
                    type: string
                  roomName:
                    type: string
                  participants:
                    type: object
                  initiatedAt:
                    type: string
                    format: date-time
        '400':
          description: Invalid request or conversation not accepted
        '404':
          description: Conversation not found
        '409':
          description: Active call already exists
  /api/calls/{callId}/accept:
    post:
      security: [{ bearerAuth: [] }]
      tags: [Calls]
      summary: Accept an incoming call
      parameters:
        - in: path
          name: callId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Call accepted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  callId:
                    type: string
                    format: uuid
                  status:
                    type: string
                  liveKitToken:
                    type: string
                  roomName:
                    type: string
                  acceptedAt:
                    type: string
                    format: date-time
        '400':
          description: Call cannot be accepted in current state
        '404':
          description: Call not found
  /api/calls/{callId}/decline:
    post:
      security: [{ bearerAuth: [] }]
      tags: [Calls]
      summary: Decline an incoming call
      parameters:
        - in: path
          name: callId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  enum: [busy, declined, other]
      responses:
        '204':
          description: Call declined successfully
        '400':
          description: Call cannot be declined in current state
        '404':
          description: Call not found
  /api/calls/{callId}/end:
    post:
      security: [{ bearerAuth: [] }]
      tags: [Calls]
      summary: End an active call
      parameters:
        - in: path
          name: callId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                endReason:
                  type: string
                  enum: [normal, timeout, error]
      responses:
        '204':
          description: Call ended successfully
        '404':
          description: Call not found
  /api/calls/{callId}:
    get:
      security: [{ bearerAuth: [] }]
      tags: [Calls]
      summary: Get call session details
      parameters:
        - in: path
          name: callId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Call session details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  conversationId:
                    type: string
                    format: uuid
                  callerUserId:
                    type: string
                    format: uuid
                  calleeUserId:
                    type: string
                    format: uuid
                  callType:
                    type: string
                    enum: [video, audio]
                  status:
                    type: string
                    enum: [initiated, accepted, connected, ended, declined, missed]
                  liveKitRoomName:
                    type: string
                  initiatedAt:
                    type: string
                    format: date-time
                  acceptedAt:
                    type: string
                    format: date-time
                    nullable: true
                  connectedAt:
                    type: string
                    format: date-time
                    nullable: true
                  endedAt:
                    type: string
                    format: date-time
                    nullable: true
                  durationSeconds:
                    type: integer
                    nullable: true
                  endReason:
                    type: string
                    nullable: true
        '404':
          description: Call not found
